.Header {
	width: 70vw;
	padding: 30px 5px;
	border-bottom: 1px solid rgba(var(--baseColor-code), 0.4);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 0 auto;
	gap: 10px;
	h1 {
		font-size: var(--titSize2);
	}

	ul {
		margin-left: auto;
		display: flex;
		justify-content: space-around;
		align-items: center;
		gap: 20px;

		a.on {
			color: var(--pointColor);
			font-weight: bold;
		}
	}

	.menuToggle {
		margin-left: auto;
		display: none;
		border: none;
		background: transparent;
		font-size: 18px;
		width: 18px;
		height: 18px;
		color: var(--pointColor);
	}
}

.tablet,
.mobile {
	.Header {
		width: 80vw;
		ul {
			display: none;
		}
		.menuToggle {
			display: block;
		}
	}
}
