.Menu {
	width: 280px;
	height: 100vh;
	background: var(--pointColor);

	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
	padding: 10px;
	ul {
		margin-top: 20px;
		li {
			margin-bottom: 10px;
			font-size: 15px;
		}
	}
}
