.ThemeControl {
	input[type='color'] {
		width: 25px;
		height: 30px;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background-color: transparent;
		border: none;

		&::-webkit-color-swatch {
			border-radius: 30px;
			border: none;
		}
	}
}
